package-lock=false
public-hoist-pattern[]=*history*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*core-js-pure*
public-hoist-pattern[]=*hoist-non-react-statics*
public-hoist-pattern[]=*object-assign*
public-hoist-pattern[]=*path-to-regexp*
public-hoist-pattern[]=*prop-types*
public-hoist-pattern[]=*react-is*
public-hoist-pattern[]=*scheduler*
public-hoist-pattern[]=*tiny-*
public-hoist-pattern[]=*babel*
public-hoist-pattern[]=*value-equal*
public-hoist-pattern[]=*resolve-pathname*
public-hoist-pattern[]=*isarray*
public-hoist-pattern[]=*mini-create-react-context*
